body {
    background-color: #fdedf3;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
}

.logoImg{
    width: 20%;
}

button {
    background-color: #ff80ab; 
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logoImg {
    max-width: 150px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.catalogo-container,
#seccion-flores {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card-body {
    text-align: center;
    margin-top: 10px;
}

.card-title {
    font-size: 1.25rem;
    color: #34495e;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.1rem;
    color: #f8bbd0;;
    margin-bottom: 15px;
}

.carrito-container {
    margin-top: 30px;
    padding: 15px;
    border: 2px solid #f8bbd0;;
    border-radius: 10px;
    background-color: #e8f5e9;
}

#items > div {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

#total {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

#carrito {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  background: #fff;
  border: 2px solid #f8bbd0;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}

#carrito.mostrar {
  display: block;
}

#toggle-carrito {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f8bbd0;;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
}

.button-eliminar-carrito {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}